h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
    padding: 0px;
}

body h1, h2, h3, h4, p {
    font-family: Copperplate, Papyrus, fantasy;
}

h1::selection {
    background-color: greenyellow;
    color: #fff;
}

h2::selection {
    background-color: greenyellow;
    color: #fff;
}

h3::selection {
    background-color: greenyellow;
    color: #fff;
}

h4::selection {
    background-color: greenyellow;
    color: #fff;
}

h5::selection {
    background-color: greenyellow;
    color: #fff;
}

h6::selection {
    background-color: greenyellow;
    color: #fff;
}

p::selection {
    background-color: greenyellow;
    color: #fff;
}

a::selection {
    background-color: greenyellow;
    color: #fff;
}

header, footer {
    background-color: #4e5754;
    color: #fff;
    padding: 5px;
    font-family: Copperplate, Papyrus, fantasy;
}

header h1, footer p {
    text-align: center;
    font-family: Copperplate, Papyrus, fantasy;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    text-align: center;
}

a {
    color: greenyellow;
    text-decoration: none;
    font-family: Copperplate, Papyrus, fantasy;
}

a:hover {
    color: red;
    text-decoration: underline;
    text-decoration: dashed;
}

section {
    margin: 20px;
}

main {
    margin: 0px;
    padding: 0px;
    font-family: Copperplate, Papyrus, fantasy;
}

.ember {
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
    width: 300px;
    text-align: center;
}

.ember img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.ember h2 {
    font-size: 24px;
    margin: 10px 0;
    color: #0a5a00;
}

.ember p {
    font-size: 18px;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 100vh;
}

section {
    flex: 1;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #7289da;
    color: #ffffff;
}

footer nav {
    text-align: center;
}